body {
  background: #ffffff;
  margin: 0;
  padding-bottom: 30px;
  font-size: 62.5%;
}

a {
  color: #000000;
}

#header {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  background: #abc4ab;
}

#header h1 {
  font-family: "Bungee Shade", cursive;
  text-align: center;
  font-size: 5vw;
  line-height: 1;
  margin: 0;
  padding-left: 80px;
  padding-right: 80px;
  align-self: flex-end;
  transform: translateY(30%);
}

#header img {
  object-fit: cover;
  height: 675px;
  width: 1000px;
  max-width: 100%;
  max-height: 100%;
}

div.rounded {
  border-radius: 50%;
  overflow: hidden;
  height: 340px;
  width: 340px;
  margin-top: 50px;
  margin-bottom: 30px;
  border: 5px double #ffffff;
}

#content {
  height: 100%;
  padding-bottom: 60px;
  float: left;
  background: #ffffff;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 4%;
}

.flex-child {
  box-sizing: border-box;
  flex-basis: 50%;
  flex-grow: 1;
  padding-left: 3vw;
  padding-right: 3vw;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 35px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;
}

#content h2 {
  font-family: "Bungee Shade", cursive;
  font-size: 30px;
  padding-top: 10px;
  padding-left: 20px;
  margin: 0;
  border-left: 5px double #69bebe;
}

ul#myList {
  list-style-type: circle;
  font-family: "Comfortaa", cursive;
  font-size: 18px;
  line-height: 30px;
}

#content p {
  font-family: "Comfortaa", cursive;
  font-size: 18px;
  padding-left: 30px;
  line-height: 30px;
}

#footer {
  position: fixed;
  margin: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  padding-top: 4px;
  padding-bottom: 8px;
  border: 0;
  background: #ffffff;
}

#footer h3 {
  font-family: "Comfortaa", cursive;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  line-height: 1;
  vertical-align: middle;
}

@media only screen and (max-width: 800px) {
  #header h1 {
    font-size: 30px;
  }
  .flex-child {
    flex-basis: 100%;
  }
  .material-icons {
    font-size: 24px;
  }
  #content h2 {
    font-size: 24px;
    line-height: 40px;
  }
  #content p {
    font-size: 16px;
  }
  ul#myList {
    font-size: 16px;
  }
  #footer h3 {
    font-size: 14px;
  }
}
